{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="d-flex align-items-center justify-content-center text-center" style="min-height: 70vh;">
    <div class="container">
        <i class="bi bi-cone-striped text-warning display-1 mb-4"></i>
        <h1 class="fw-bold">Error del Servidor (500)</h1>
        <p class="lead text-muted mb-4">
            Algo salió mal en nuestros sistemas. <br>
            Nuestro equipo técnico ya ha sido notificado automáticamente.
        </p>
        <a href="{% url 'inicio' %}" class="btn btn-primary rounded-pill px-5">
            Recargar Sitio
        </a>
    </div>
</div>
{% endblock %}